
<launch>
	<node name="server4G" pkg="data4G" type="server4G" />
	<node name="client_14782" pkg="data4G" type="client4G2" args="14782" output="screen" />
	<!--node name="testStreamer" pkg="ros_h264_streamer" type="testStreamer" output="screen" /-->
	<node name="image_converter" pkg="image_test" type="image_converter" />
	  <!-- a basic listener node -->
  	<!--node name="keyboard" pkg="keyboard" type="keyboard"/-->
  	<!-- pass args to the listener node -->
  	<node name="px4_velocity_control_node" pkg="px4_velocity_control_node" type="px4_velocity_control_node"/> 
  	<!--include file="$(find usb_cam)/launch/usb_cam-test00.launch" /-->
	<!--include file="$(find usb_cam)/launch/usb_cam-test01.launch" /-->
</launch>
